<h1>Welcome to Rock, Paper, Scissors</h1>

<p>Play the game by Player 1 selecting from <ls>rock/</ls>, <ls>paper/</ls> or <ls>scissors/</ls>  and then adding it to the search bar</p>

<p>Next, Player 2 adds <ls>rock/</ls>, <ls>paper/</ls> or <ls>scissors/</ls> to search bar and then presses enter</p>
